html, body {
  height: 100%;
  background-color: #2c3e50;
}

#container {
  width: 200px;
  height: 200px;
  margin: auto;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

.electrons {
  width: 100%;
  height: 100%;
  perspective: 200px;
  position: relative;
}

.electrons > .electron {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 50%;
  border-top: 15px solid transparent;
  border-left: 10px solid #ecf0f1;
  border-right: 5px solid #ecf0f1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
}

#e1 {
  animation-name: rotate-e1;
}

#e2 {
  animation-name: rotate-e2;
}

#e3 {
  animation-name: rotate-e3;
}

@keyframes rotate-e1 {
  0% { transform: rotateX(80deg) rotateY(45deg) rotateZ(0deg); }
  100% { transform: rotateX(80deg) rotateY(45deg) rotateZ(360deg); }
}

@keyframes rotate-e2 {
  0% { transform: rotateX(80deg) rotateY(135deg) rotateZ(-45deg); }
  100% { transform: rotateX(80deg) rotateY(135deg) rotateZ(315deg); }
}

@keyframes rotate-e3 {
  0% { transform: rotateX(80deg) rotateY(00deg) rotateZ(45deg); }
  100% { transform: rotateX(80deg) rotateY(00deg) rotateZ(405deg); }
}

.atom {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  background-color: #ecf0f1;
  transform: translateZ(-100px);
  
  animation-delay: 1s;
  animation-name: pulse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

@keyframes pulse {
  0% {
    transform: translateZ(-100px);
  }
  
  5% {
    transform: translateZ(-70px);
  }
  
  10% {
    transform: translateZ(-100px);
  }
  
  100% {
    transform: translateZ(-100px);
  }
}

  