#video_hero {
    width: 100%;
    height: 100vh;
}

#video_hero_background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#video_hero_contents {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.333);
    display: flex;
    flex-direction: column;
}

#logo_nav_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.solid_header {
    background-color: gray;
}

.solid_header>h1 {
    color: white;
    padding-bottom: 2rem;
    text-align: center;
}

#logo_img {
    height: 65px;
    margin-left: 10px;
}

.mid{
    margin-top: -100px;
}

#hero_text {
    flex-grow: 1;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#nav_items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#nav_items>li {
    padding: 12px 20px;
}

#nav_items>li>a {
    color: white;
    font-weight: bold;
}

.text_section {
    padding: 1rem 0;
}

.text_section > p, .text_section > ul, .text_section > ol {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

h2 {
    text-align: center;
}

.left_body {
    border: 0px solid black;
    width: 48%;
    height: 600px;
    margin: 10px;
    float: left;
}

.right_body {
    border: 0px solid black;
    width: 48%;
    height: 600px;
    margin: 10px;
    float: right;
    padding-top: 50px;
}

.left_bottom {
    width: 50%;
    height: 600px;
    float: left;
    margin-top: 50px;
}

#left_image {
    width: 450px;

}

#right_image {
    width: 450px;

}

#middle_image {
    width: 300px;
    height: 200px;
}

#font_body_font {
    font-size: 40px;
    font-family: serif;
    text-align: center;
    padding-left: 5px;
    padding-top: 140px;
}

#mid_section {
    padding-top: 500px;
}

p {
    font-size: 1.25rem;
    font-family: serif;
}

.body {
    border: 5px solid black;
}

#bottom_left {
    border: 10px solid black;
}

#bottom_first_image {
    width: 50%;
    padding-top: 200px;
}

#bottom_second_image {
    width: 40%;
    padding-top: 200px;
}

#bottom_third_image {
    width: 30%;
    /*padding-top: 200px;*/
    border-radius: 50%;
}

#nate{
    width: 30%;
    /*padding-top: 200px;*/
    border-radius: 50%;
}

#rich{
    width: 30%;
    border-radius: 50%;
}

.right_bottom {
    width: 50%;
    height: 600px;
    float: right;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#ourTeam {
    padding-top: 50px;
}

/* About page */

#about_team_list {
    display: flex;
    column-gap: 100px;
    row-gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 50px;
}

.about_team_item {
    max-width: 400px;
}

.about_team_item>img {
    width: 100%;
}

.about_team_item>h3 {
    margin-top: 1rem;
    text-align: center;
}

.about_team_item>p {
    text-align: justify;
}

/* Products page */

#product_list {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.product_item {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.product_item:nth-child(odd) {
    flex-direction: row;
}

.product_item:nth-child(even) {
    flex-direction: row-reverse;
}

.product_image_column {
    width: 400px;
    flex-shrink: 0;
}

.product_image_column>img {
    width: 100%;
}

.product_stats {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: lightgray;
}

.product_stats>ul {
    margin-bottom: 0;
}

/*
.product_item:nth-child(odd) > .product_description_column > h3 {
    text-align: left;
}

.product_item:nth-child(even) > .product_description_column > h3 {
    text-align: right;
}
*/

.product_description_column>p {
    text-align: justify;
}
