#video_hero {
    width: 100%;
    height: 100vh;
}

#video_hero_background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#video_hero_contents {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.333);
    display: flex;
    flex-direction: column;
}

#logo_nav_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

#logo_img {
    height: 65px;
    margin-left: 10px;
}

#hero_text {
    flex-grow: 1;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#nav_items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#nav_items > li {
    padding: 12px 20px;
}

#nav_items > li > a {
    color: white;
}

.left_body {
    border: 0px solid black;
    width: 48%;
    height: 600px;
    margin: 10px;
    float: left;
}

.right_body {
    border: 0px solid black;
    width: 48%;
    height: 600px;
    margin: 10px;
    float: right;
}

.left_bottom {
    width: 50%;
    height: 600px;
    float: left;
    margin-top: 50px;
}

.right_bottom {
    width: 50%;
    height: 600px;
    float: right;
    margin-top: 50px;
}

#left_image {
    width: 450px;

}

#right_image {
    width: 450px;

}

#middle_image{
    width: 300px;
    height: 200px;
}

#font_body_font{
    font-size: 40px;
    font-family: serif;
    text-align: center;
    padding-left: 5px;
    padding-top: 140px;
}

#mid_section{
    padding-top: -500px;
}

p{
    font-family: serif;
}

.body{
    border: 5px solid black;
}

#bottom_left{
    border: 10px solid black;
}

#bottom_first_image{
    width: 50%;
    padding-top: 200px;
}

#bottom_second_image{
    width: 40%;
    padding-top: 200px;
}

#bottom_third_image{
    width: 30%;
}

#ourTeam{
    padding-top: 50px;
}

