@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

.ratio_16x9 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.ratio_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hint {
    font-weight: bold;
}

body {
    font-family: "Sarabun", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

#hero_text>h1, .solid_header>h1, h2:not(.article_subheader) {
    font-family: "Bebas Neue", monospace;
    text-transform: uppercase;
}

h3 {
    font-size: 1.75rem;
}

#homepage_buttons>a, #nav_items>li>a, .link_button {
    font-family: "Chivo Mono", monospace;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-weight: bold;
}

footer {
    padding: 2rem 0;
    background-color: lightgray;
    text-align: center;
}

#video_hero {
    width: 100%;
    height: 100vh;
}

#video_hero_background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#video_hero_contents {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.333);
    display: flex;
    flex-direction: column;
}

#logo_nav_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.solid_header {
    background-color: gray;
}

.solid_header>h1 {
    color: white;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

#logo_img {
    height: 65px;
    margin-left: 10px;
}

.mid {
    margin-top: -100px;
}

#hero_text {
    flex-grow: 1;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#hero_text>h1 {
    font-size: 5rem;
}

#nav_items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#nav_items>li {
    padding: 12px 20px;
}

#nav_items>li>a {
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

#nav_items>li>a:hover {
    color: #68cdeb;
}

.text_section {
    padding: 1rem 0;
}

.text_section>*:not(#about_team_list, #product_list, .back_to_news) {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}

.text_section>h1, .text_section>h2, #article_page_date {
    text-align: center !important;
}

#homepage_buttons {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    align-items: stretch;
    max-width: 420px;
    margin: 2rem auto;
}

#homepage_buttons>a, .link_button {
    color: var(--bs-body-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1rem;
    outline: solid 3px #68cdeb;
    border-radius: 5px;
    transition: 0.25s;
}

#homepage_buttons>a:hover, .link_button:hover {
    background-color: #68cdeb;
}

.homepage_button_text {
    flex-grow: 1;
    padding-left: 1rem;
    font-size: 3rem;
}

p, li, footer {
    font-size: 1.25rem;
}

.body {
    border: 5px solid black;
}

#bottom_left {
    border: 10px solid black;
}

#bottom_first_image {
    width: 50%;
    padding-top: 200px;
}

#bottom_second_image {
    width: 40%;
    padding-top: 200px;
}

#bottom_third_image {
    width: 30%;
    /*padding-top: 200px;*/
    border-radius: 50%;
}

#nate {
    width: 30%;
    /*padding-top: 200px;*/
    border-radius: 50%;
}

#rich {
    width: 30%;
    border-radius: 50%;
}

.right_bottom {
    width: 50%;
    height: 600px;
    float: right;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#ourTeam {
    padding-top: 50px;
}

/* About page */

#about_team_list {
    display: flex;
    column-gap: 100px;
    row-gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 50px;
}

.about_team_item {
    max-width: 400px;
}

.about_team_item>img {
    width: 100%;
}

.about_team_item>h3 {
    margin-top: 1rem;
    text-align: center;
}

.about_team_item>p {
    text-align: justify;
}

/* Products page */

#video_container {
    position: relative;
    margin: 1rem 0;
}

#product_list {
    max-width: 1000px;
    margin: 3rem auto 2rem;
    display: flex;
    flex-direction: column;
}

.product_item {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.product_item:nth-child(odd) {
    flex-direction: row;
}

.product_item:nth-child(even) {
    flex-direction: row-reverse;
}

.product_image_column, #main_article_tile_image {
    flex-shrink: 0;
    flex-grow: 1;
}

.product_image_column {
    max-width: 400px;
}

.product_image_column>img, #main_article_tile_image>img {
    width: 100%;
}

.product_stats {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: lightgray;
    border-radius: 5px;
}

.product_stats>ul {
    margin-bottom: 0;
}

.product_description_column>p {
    text-align: justify;
}

@media screen and (max-width: 1100px) {
    #product_list {
        margin-top: 4rem;
        row-gap: 4rem;
    }

    .product_item:nth-child(odd), .product_item:nth-child(even) {
        flex-direction: column-reverse;
    }

    .product_description_column {
        padding: 0 20px;
        max-width: 600px;
    }

    .product_description_column > h3 {
        text-align: center;
    }
}

/* News */

#articles_list {
    max-width: 1200px;
    margin: 0 auto;
}

#main_article_tile, #secondary_article_tiles {
    margin-bottom: 2rem;
}

#main_article_tile {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

#main_article_tile_image {
    width: 500px;
}

#main_article_tile_text {
    padding-left: 25px;
}

#main_article_tile_text p {
    margin-bottom: 0;
}

#main_article_tile_text h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.link_button {
    max-width: fit-content;
    padding: 1rem 2rem;
}

#secondary_article_tiles {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

#secondary_article_tiles > a {
    text-decoration: none;
    color: var(--bs-body-color);
    border-radius: 5px;
    outline: solid 2px #68cdeb;
    padding: 1.5rem;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#secondary_article_tiles > a:hover h3 {
    color: #68cdeb;
}

#secondary_article_tiles > a > p {
    margin: 0;
}

@media screen and (max-width: 1300px) {
    #articles_list {
        max-width: 640px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #main_article_tile {
        flex-direction: column;
        align-items: stretch;
    }

    #main_article_tile_image {
        width: 100%;
    }

    #main_article_tile_text {
        padding-left: 0;
        padding-top: 1rem;
    }

    #secondary_article_tiles {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

/* News article */

#article_header {
    font-weight: bold;
    font-size: 3rem;
}

.article_image {
    width: 100%;
    margin-bottom: 2rem;
}

.interview {
    background-color: #EEE;
    border-radius: 5px;
    padding: 1rem;
}

.back_to_news {
    margin: 1rem auto;
}

/* Phone screen general */

@media screen and (max-width: 600px) {
    #logo_nav_flex {
        padding: 0.5rem;
    }

    #hero_text {
        padding: 0 10%;
    }

    #hero_text>h1 {
        font-size: 4rem;
    }

    #nav_items {
        flex-direction: column;
        text-align: right;
    }

    #nav_items>li {
        padding: 0;
    }

    .text_section>*:not(#about_team_list, #product_list, .back_to_news) {
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    #homepage_buttons {
        max-width: 320px;
    }

    #homepage_buttons>a {
        flex-direction: column;
    }

    #about_team_list {
        padding-left: 20px;
        padding-right: 20px;
    }
}
